h1{
    text-align: center;
}

.headie{
    text-align: center;
}

.players{
    display :flex;
    flex-direction:row;
    justify-content: space-around;
}

.player{
    display: flex;
    flex-direction: column;
}

.starts{
    display: flex;
    justify-content: center;
}

.navbar{
    display : flex;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    left:34rem;
}

.scoreboard{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.turn{
    display : flex;
    justify-content: center;
}